[user]
	email = kobaken0029@gmail.com
	name = kento_kobayashi
[core]
	editor = vim -c \"set fenc=utf-8\"
[merge]
        ff = false
[color]
        ui = true
[alias]
        b = branch
        c = checkout
        cb = checkout -b
